.peg-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.3rem;
    font-weight: bold;
    margin-top: 0.5rem;
}

.reset {
    padding: 0.5rem;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.06);
    border: none;
    transition: all 100ms ease-in-out;
    color: white;
}

.instructions-overlay {
    background-color: #31313198;
    backdrop-filter: blur();
    padding: 1rem;
    width: 400px;
    position: absolute;
    top: -150px;
    right: 0px;
    border-radius: 12px;
}

.instructions-overlay ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
    list-style-type: none;
    margin-bottom: 12px;
}

.instructions-peg {
    position: absolute;
    padding: 0.7rem;
    top: 64px;
    right: -200px;
}


.reset:hover {
    background-color: #313131;
    transform: translateY(-2px);
}


.cronometro-peg {
    display: flex;
    font-weight: bold;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    background-color: #1a1a1a;
    padding: 0.5rem;
    border-radius: 12px;
    margin-bottom: 0.5rem;
}

.peg-canvas-wrapper {
  width: 100%;
  max-width: 420px;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
